footer.footer

	.footer_top
		.container
			.row
				.col-md-4.col-sm-5
					.footer_add
						h3.footer_title Contact us
					
						ul
							li
								.icon
									img(src="img/i-location.png", alt="")
								h4 Address
								p Lầu 1, Tòa nhà Hải Đức <br>2B Hồ Xuân Hương, P6, Quận 3, TP.HCM
							li
								.icon
									img(src="img/i-phone.png", alt="")
								h4 Hotline
								p 0839 333 107<br>(Mon to Fri - 9AM to 6PM)
							li
								.icon
									img(src="img/i-mail.png", alt="")
								h4 Email
								p info@upbeat.vn

				.col-md-8.col-sm-7
					.footer_contact
						h3.footer_title Send us message
						form 
							.row 
								.col-sm-6
									p
										label Your Name
										input(type="text" placeholder="Your Name")
									p
										label Your Email
										input(type="text" placeholder="Your Email")
								.col-sm-6
									p
										label Your Message
										textarea(placeholder="Your Message")
							.row
								.col-sm-12
									button(type="submit") Send Message

	// end footer_top

	.footer_bottom
		.text-center 
			span Upbeat © 2016. All Rights Reserved
	// end footer_bottom

// end footer

// load jQuery
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
script(src="js/lib.js")
script(src="js/main.js")