header.header
	//- .btn-nav.visible-xs
	//- 	<i class="fa fa-bars" aria-hidden="true"></i>
	.container
		.header_wrap
			.logo
				a(href="#") 
					img(src="img/logo.png", alt="")

			.btn-nav
				span
					<i class="fa fa-bars" aria-hidden="true"></i>

			nav.main-nav
				.search-form
					form
						.input-group
							span.input-group-btn
								<button class="btn hidden-xs close-search" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
							<input type="text" class="form-control" placeholder="Search for...">
							span.input-group-btn
								<button class="btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
				ul.menu
					li: a(href="#") Notice
					li: a(href="#") Talents
					li: a(href="#") Multimedia
					li: a(href="#") E-Shop

				.header_right

					.header_search.hidden-xs
						<i class="fa fa-search" aria-hidden="true"></i>
					.header_facebook
						a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
					.header_youtube
						a(href="#") <i class="fa fa-youtube" aria-hidden="true"></i>

