main.main
	.section.home-feature
		.slider
			.slider_big.owl-carousel#sync1
				.item
					img(src="img/s1.jpg", alt="")
				.item
					img(src="img/s1.jpg", alt="")
				.item
					img(src="img/s1.jpg", alt="")
				.item
					img(src="img/s1.jpg", alt="")
			.slider_thum.owl-carousel#sync2
				
				.item
					.item_inner.notice
						.icon 
							img(src="img/i-notice.png", alt="")
						p 
							| Notice
							//- span  

				.item
					.item_inner.talents
						.icon 
							img(src="img/i-talent.png", alt="")
						p 
							| Talents
							span  23
				.item
					.item_inner.multimedia
						.icon 
							img(src="img/i-multi.png", alt="")
						p 
							| Multimedia
							//- span  
				.item.eshop
					.item_inner
						.icon 
							img(src="img/i-eshop.png", alt="")
						p 
							| E-Shop
							span  12
				
	// feature

	.section.home-talents
		.container
			.section_title
				h3 Meet Our Talents
				span: a(href="#")  View all talents
		.section_home-main
			.container
				.row
					.col-sm-6
						.box-talent
							.share 
								span <i class="fa fa-plus" aria-hidden="true"></i>
								ul 
									li.facebook: a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
									li.youtube: a(href="#") <i class="fa fa-youtube" aria-hidden="true"></i>
							.box-talent-inner
								.img
									img(src="img/tallent1.jpg", alt="")
								.caption 
									header
										h3 Jack Carry On
										span Actor / Director
									p It has survived not only five lasto centuries, but also the leap intolso the lea electronic typesetting

									a(href="#").read_more Read more 
					.col-sm-6
						.box-talent
							.share 
								span <i class="fa fa-plus" aria-hidden="true"></i>
								ul 
									li.facebook: a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
									li.youtube: a(href="#") <i class="fa fa-youtube" aria-hidden="true"></i>
							.box-talent-inner
								.img
									img(src="img/tallent21.jpg", alt="")
								.caption 
									header
										h3 Chau Bui
										span Model / Fashionista
									p It has survived not only five lasto centuries, but also the leap intolso the lea electronic typesetting

									a(href="#").read_more Read more 
					.col-sm-6
						.box-talent
							.share 
								span <i class="fa fa-plus" aria-hidden="true"></i>
								ul 
									li.facebook: a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
									li.youtube: a(href="#") <i class="fa fa-youtube" aria-hidden="true"></i>
							.box-talent-inner
								.img
									img(src="img/tallent31.jpg", alt="")
								.caption 
									header
										h3 Trinity Đặng
										span Model
									p It has survived not only five lasto centuries, but also the leap intolso the lea electronic typesetting

									a(href="#").read_more Read more 
					.col-sm-6
						.box-talent
							.share 
								span <i class="fa fa-plus" aria-hidden="true"></i>
								ul 
									li.facebook: a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
									li.youtube: a(href="#") <i class="fa fa-youtube" aria-hidden="true"></i>
							.box-talent-inner
								.img
									img(src="img/tallent41.jpg", alt="")
								.caption 
									header
										h3 Kiều Trinh
										span Model / Fashionista
									p It has survived not only five lasto centuries, but also the leap intolso the lea electronic typesetting

									a(href="#").read_more Read more 
	// talents

	.section.home-notice
		.container
			.section_title
				h3 Hot New Notice
				span: a(href="#")  View all talents
		.section_home-main
			.home-notice-top 
				.img-top 
					img(src="img/img.jpg", alt="")
				.caption-top 
					
					.caption-top-inner
						h3 Gặp cô gái fashionista 19 tuổi "chất nhất vịnh Bắc Bộ"
						span Saturday, 06/08/2016
						p Contrary to popular belief, Lorem Ipsum is not simply random tconse ctetur adipiscing elit, sed do athe  eintrary to popular belief, Lorem Ipsum is not simply random tconse ctetur adipiscing elit, sed do athe  eiusmod, Contrary to popular belief, Lorem Ipsum is not simply random tconse ctetur adipiscing elit, sed do athe  eintrary to popular belief, Lorem Ipsum is not simply random tconse ctetur adipiscing elit, sed do athe  eiusmod  
						a(href="").read_more Read more

			.home-notice-bottom 
				.container
					.row
						.col-md-6
							.inner-notice-child
								.img-child
									img(src="img/img1.jpg", alt="")
								.caption-child
									h3 Nguyễn Tú Linh – nữ CĐV MU xinh như thiên thần
									p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Am Ipsum has...
									a(href="").read_more Read more
						.col-md-6
							.inner-notice-child
								.img-child
									img(src="img/img2.jpg", alt="")
								.caption-child
									h3 Nguyễn Tú Linh – nữ CĐV MU xinh như thiên thần
									p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Am Ipsum has...
									a(href="").read_more Read more



	// notice

	.section.home-multimedia
		.container
			.section_title
				h3 Hot New Multimedia 
				span: a(href="#")  View all Multimedia

		.section_home-main
			.slider-multimedia#slider-multimedia
				.multimedia-item
					.inner
						img(src="img/07_charming.jpg", alt="")
						.caption 
							h3 Boys Over Power - The Meteors Strike
				.multimedia-item 
					.inner
						img(src="img/multi-s1.jpg", alt="")
						.caption 
							h3 Boys Over Power - The Meteors Strike
				.multimedia-item 
					.inner
						img(src="img/07_charming.jpg", alt="")
						.caption 
							h3 Boys Over Power - The Meteors Strike
				.multimedia-item 
					.inner
						img(src="img/multi-s1.jpg", alt="")
						.caption 
							h3 Boys Over Power - The Meteors Strike
				.multimedia-item 
					.inner
						img(src="img/07_charming.jpg", alt="")
						.caption 
							h3 Boys Over Power - The Meteors Strike
	// notice

	.section.home-eshop
		.container
			.section_title
				h3 Featured E-Shop
				span: a(href="#")  View All E-Shop

		.section_home-main
			.slider-eshop 
				.container
					.row
						.col-sm-3.col-xs-1
							.img 
								img(src="img/img3.png", alt="")
						.col-sm-9.col-xs-11
							#slide-eshop.slide-eshop
								.item
									.inner
										a(href="")
											img(src="img/img4.png", alt="")
										ul
											li: a(href="#")
												img(src="img/i-heart.png", alt="")
											li: a(href="#") 
												img(src="img/i-add.png", alt="")


								.item
									.inner
										a(href="")
											img(src="img/img5.png", alt="")
										ul
											li: a(href="#")
												img(src="img/i-heart.png", alt="")
											li: a(href="#") 
												img(src="img/i-add.png", alt="")
								.item
									.inner
										a(href="")
											img(src="img/img6.png", alt="")
										ul
											li: a(href="#")
												img(src="img/i-heart.png", alt="")
											li: a(href="#") 
												img(src="img/i-add.png", alt="")
								.item
									.inner
										a(href="")
											img(src="img/img7.png", alt="")
										ul
											li: a(href="#")
												img(src="img/i-heart.png", alt="")
											li: a(href="#") 
												img(src="img/i-add.png", alt="")
								.item
									.inner
										a(href="")
											img(src="img/img5.png", alt="")
										ul
											li: a(href="#")
												img(src="img/i-heart.png", alt="")
											li: a(href="#") 
												img(src="img/i-add.png", alt="")
								.item
									.inner
										a(href="")
											img(src="img/img4.png", alt="")
										ul
											li: a(href="#")
												img(src="img/i-heart.png", alt="")
											li: a(href="#") 
												img(src="img/i-add.png", alt="")
								.item
									.inner
										a(href="")
											img(src="img/img7.png", alt="")
										ul
											li: a(href="#")
												img(src="img/i-heart.png", alt="")
											li: a(href="#") 
												img(src="img/i-add.png", alt="")
								.item
									.inner
										a(href="")
											img(src="img/img6.png", alt="")
										ul
											li: a(href="#")
												img(src="img/i-heart.png", alt="")
											li: a(href="#") 
												img(src="img/i-add.png", alt="")
								.item
									.inner
										a(href="")
											img(src="img/img4.png", alt="")
										ul
											li: a(href="#")
												img(src="img/i-heart.png", alt="")
											li: a(href="#") 
												img(src="img/i-add.png", alt="")
								.item
									.inner
										a(href="")
											img(src="img/img4.png", alt="")
										ul
											li: a(href="#")
												img(src="img/i-heart.png", alt="")
											li: a(href="#") 
												img(src="img/i-add.png", alt="")





	// eshop



// end main